- posts.each do |post|
  .col-md-3.media-box{'data-lat' => post.location.latitude, 'data-lng' => post.location.longitude, 'data-thumb-url' => post.images.thumbnail.url, 'data-username' => post.user.username}
    %a.profile-link{href: get_url_user(post.user.username), target: '_blank'}
      .post-box{'data-toggle' => "tooltip", title: post.user.full_name}
        .thumb-post
          .info-top{"data-time" => post.created_time}
            %span.user-name=  post.user.username
            %span.time
          .media-img
            = image_tag post.images.standard_resolution.url, class: 'img-thumbnail'
          .info-bot
            .logo-user
              .user-profile
                .img-user
                  = image_tag post.user.profile_picture , class: 'img-circle photo-profile'
            .info-user
              %span.pull-left.comment= post.comments[:count]
              %span.pull-right.like= post.likes[:count]

.clearfix
.text-center
  = paginate posts, remote: true