!!!
%html
  %head
    %title Wonolo Challenge
    = stylesheet_link_tag 'application', media: 'all'
    = javascript_include_tag 'application'
    = csrf_meta_tags
    = javascript_include_tag "https://maps.googleapis.com/maps/api/js?v=3&key=AIzaSyB65xvaxH_fea3rSFDlVomyC3rbSUbyz28"

  %body
    = render 'layouts/header'
    = yield
    = render 'layouts/footer'